#root {
  padding: 20px;
}

.editor {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;

  table {
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ccc;
      min-width: 100px;
      padding: 8px;
    }
  }
}
